= simple_form_for([@patient, @anaesthetic], html: { class: 'form-horizontal' }) do |f|
  = f.error_notification

  .form-inputs
    = f.association :user, label_method: :full_name, input_html: { value: current_user.id}, selected: current_user.id
    = f.association :patient, label_method: :full_name
    = f.input :date_and_time

    = f.association :intervention
    = f.input :indication, collection:["LABOUR", "ELSC", "EMCS","REPAIR OF TEAR", "EMCS","REPAIR OF TEAR", "MANUAL REMOVAL", "CERVICAL SUTURE REMOVAL", "EMCS","REPAIR OF TEAR", "CERVICAL SUTURE INSERTION"]
    = f.input :no_attempts, collection: 1..5
    = f.input :complications, collection:["NONE","BONEY OBSTRUCTION", "BLOOD IN CATHETER", "DURAL PUNCTURE"]

  .form-actions
    = f.button :submit
