%p#notice= notice

%h1 Patient Anaesthetics

%table.table.table-striped.table-responsive

  %thead
    %tr
      %th Date and time
      %th Clinician
      %th Indication
      %th Attempts
      %th Complications
      %th View Details
      %th Edit
      %th{:colspan => "3"}
  %tbody
    - @all_reports_for_one_patient.each do |report|
      %tr
        %td= DateTime.iso8601(report["start_date"]).strftime("%d/%m/%Y %H:%M")
        %td= report["clinician_name"]
        %td= report["indication"]
        %td= report["attempts"]
        %td= report["complication"]
        %td= link_to 'Details', "/anaesthetics/#{report["uid"]}", :class => 'btn btn-mini btn-success', style: 'color:white'
        %td= link_to 'Edit', "#", :class => 'btn btn-mini btn-warning', style: 'color:white'
%p
  = @all_reports_for_one_patient
