= simple_form_for([@patient, @follow_up], html: { class: 'form-horizontal' }) do |f|
  = f.error_notification

  .form-inputs
    = f.input :date_and_time
    = f.association :user, label_method: :full_name, :label => "Doctor:"
    -#= f.association :patient,label_method: :full_name
    = f.association :checklist, label_method: :question
    = f.input :comments



  .form-actions
    = f.button :submit, :class => 'btn btn-primary'
