= simple_form_for(@follow_up) do |f|
  = f.error_notification

  .form-inputs
    = f.input :date_and_time
    = f.association :user, label_method: :full_name, :label => "Doctor:"
    -#= f.association :patient,label_method: :full_name
    = f.input :patient_id, input_html: {value: params[:patient_id]}
    = f.input :nausea, class: :radio
    = f.input :itching
    = f.input :headache
    = f.input :leg_weakness
    = f.input :leg_numbness
    = f.input :back_pain
    = f.input :urinary_rentention
    = f.input :pain
    = f.input :awareness_GA
    = f.input :comments
    = f.input :status, collection: Patient::statuses
  -#= f.simple_fields_for @patient do |p|
    = p.input :status, collection: Patient.statuses.keys, input_html: { autocomplete: 'off' }
  .form-actions
    = f.button :submit, :class => 'btn btn-primary'
