= simple_form_for([@patient, @follow_up], html: { class: 'form-horizontal' }) do |form|
  = form.error_notification

  .form-inputs
    = form.input :date_and_time
    = form.association :user, label_method: :full_name, input_html: { value: current_user.id}, selected: current_user.id
    -#= f.association :patient,label_method: :full_name
    -#= form.association :checklist, label_method: :question, as: :selectize, collection: Checklist.all


    = form.input :comments
    = form.input :headache
    = form.input :leg_numbness
    = form.input :leg_weakness
    = form.input :itching
    = form.input :back_pain
    = form.input :discharge_type




  .form-actions
    = form.button :submit, :class => 'btn btn-primary'
