%h1 Follow Ups

%table.table.table-striped.table-responsive
  %thead
    %tr
      %th Date and time
      %th Doctor
      %th Patient
      %th View follow up details
      %th Edit
      %th Delete


  %tbody
    - @follow_ups.each do |follow_up|
      %tr
        %th= follow_up.date_and_time.strftime("%d/%m/%Y %H:%M")
        %td= follow_up.user.full_name
        %td= follow_up.patient.full_name

        -if follow_up.discharge?
          %td= link_to 'complete', follow_up, :class => 'btn btn-mini btn-success', style: "color:white"
        -if follow_up.review?
          %td= link_to 'needs review', follow_up, :class => 'btn btn-mini btn-warning', style: "color:white"


        %td= link_to 'Edit', edit_follow_up_path(follow_up), :class => 'btn btn-mini btn-warning'
        %td= link_to 'Delete', follow_up, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => 'btn btn-mini btn-danger'
%br

= link_to 'New Follow up', new_patient_follow_up_path(@patient)
