%h1 Follow Ups

%table.table.table-striped.table-responsive
  %thead
    %tr
      %th Date and time
      %th Doctor
      %th Patient
      %th Nausea
      %th Itching
      %th Headache
      %th Leg weakness
      %th Leg numbness
      %th Back pain
      %th Urinary rentention
      %th Pain
      %th Awareness ga
      %th Comments
      %th
      %th
      %th

  %tbody
    - @follow_ups.each do |follow_up|
      %tr
        %th= follow_up.date_and_time.strftime("%d/%m/%Y %H:%M")
        %td= follow_up.user.full_name
        %td= follow_up.patient.full_name
        %td= follow_up.nausea
        %td= follow_up.itching
        %td= follow_up.headache
        %td= follow_up.leg_weakness
        %td= follow_up.leg_numbness
        %td= follow_up.back_pain
        %td= follow_up.urinary_rentention
        %td= follow_up.pain
        %td= follow_up.awareness_GA
        %td= follow_up.comments
        %td= link_to 'Show', follow_up, :class => 'btn btn-mini btn-success'
        %td= link_to 'Edit', edit_follow_up_path(follow_up), :class => 'btn btn-mini btn-warning'
        %td= link_to 'Delete', follow_up, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => 'btn btn-mini btn-danger'
%br

= link_to 'New Follow up', new_patient_follow_up_path(@patient)
