= form_tag patients_path, :method => 'get', html: { class: 'form-horizontal' } do
  .form-group
    = label_tag(:first_name, "First Name:")
    = text_field_tag :first_name, params[:first_name]
    = label_tag(:last_name, "Last Name:")
    = text_field_tag :last_name, params[:last_name]
    = submit_tag "Search", :name => nil, class: "btn btn-default"


-#%p#notice= notice
%h1 Patients



%table.table.table-striped.responsive
  %thead
    %tr
      %th Patient name
      %th DOB
      %th MRN
      %th NHS NO:
      %th Anaesthetic
      %th Follow Up
      %th Details
      %th Delete

  %tbody
    - @patients.each do |patient|
      %tr
        %td= patient.full_name
        %td= patient.DOB
        %td= patient.MRN
        %td= patient.NHS_No
        %td= link_to 'view or add', patient_anaesthetics_path(patient_id: patient), :class => 'btn btn-mini btn-primary', style: "color:white"
        %td= link_to 'Create', patient_follow_ups_path(patient_id: patient), :class => 'btn btn-mini btn-warning', style: "color:white"
        %td= link_to 'View', patient, :class => 'btn btn-mini btn-success', style: "color:white"
        %td= link_to 'Delete', patient, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => 'btn btn-mini btn-danger'
%br

= link_to 'New Patient', new_patient_path
