%p#notice= notice


%p
  %b Date and time:
  = @epidural_request.date_and_time.strftime("%d/%m/%Y %H:%M")
%p
  %b User:
  = @epidural_request.user.full_name
%p
  %b Patient:
  = @epidural_request.patient.full_name
%p
  %b cannula:
  = @epidural_request.cannula
%p
  %b anticoagulants:
  = @epidural_request.anticoagulants
%p
  %b pyrexia:
  = @epidural_request.pyrexia
%p
  %b hypertension:
  = @epidural_request.hypertension



= link_to 'Edit', edit_epidural_request_path(@epidural_request)
\|
= link_to 'Back', epidural_requests_path
